input:not(:first-child) {
    margin-top: 12px;
}

label:not(:first-child) {
    margin-top: 12px;
}

@media only screen and (max-width: 1200px) {
    input:not(:first-child) {
        margin-top: 24px;
    }

    input{
       width: 16px;
       height: 16px;
    }

    label:not(:first-child) {
        margin-top: 12px;
    }
}
